.register{
    background-color: #cbf0d0;
    width: auto;
}
.reginfo{
    display: flex;
    flex-direction: column;
}
.allbutton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
        border: none; /* Verwijder de rand van de knop */
}

.welcome{
    display: flex;
    margin: 3px;
    padding: 3px;
    align-items: center;
    justify-self: auto;
    justify-content: flex-end;

}
.bbutton{
    color: #4eb972;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    display: -ms-flexbox;
    width: auto;
    margin: 5px;
    padding: 2px;
    flex: auto;
}

section{
    display: flex;
    justify-content: center;
      width: 100%;
}
.info {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    padding: 2px;
    border: 5px solid black; /* Voeg hier de stijl 'solid' toe */
}
.pic{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    padding: 2px;
    width: 30%;
    border: 5px solid black; /* Voeg hier de stijl 'solid' toe */
}
#infoImage{
    display:flex;
    width: 100%;
}
#routeImage{
    display:flex;
    width: 80%;
    justify-self: center;
}
.route{
    align-content: center;
   text-align: center;
}
#viewImage{
    display:flex;

}
#parkImage{
    display:flex;
    width: 85%;
}

.border{
    margin: 15px;

    display: flex;
    justify-content: space-evenly;
    width: 70%;
    border: 5px solid black; /* Voeg hier de stijl 'solid' toe */

}
.profile{
    display: flex;
    width: 15%;
    height: auto;
}

.logo{
    width: 200px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
}
a{
    justify-content: center;
    width: fit-content;
    display: inline-block;
    overflow:hidden;
}
.settingKnop{
    display: flex;
    width: 15%;
    height: auto;
    font-size:12px;
    float: right;
    margin: 0px 30px 0px 30px;
}
.logolog{
    width: 20%;
    display: flex;
    flex-shrink: 1;
    height: auto;
}
.setting{
    float: right;
}
nav{
    background-color: #4eb972;
    color: white;
    display: flex;
    padding: 2vh;
    gap: 2vw;
    text-decoration: none;
    align-content: space-evenly;

}
.r{
    background-color: #4eb972;
    color: white;
    display: flex;
    padding: 2vh;
    gap: 2vw;
    text-decoration: none;
}

.navbar-l{
    display: flex;

}
.navbar-r{
    display: flex;
float: right;
}
.left-div {
    float: left;
    width: 200px; /* Pas de breedte aan naar wens */
    background-color: #4EB972;

}
.right-div {
    float: right;
    width: 200px; /* Pas de breedte aan naar wens */
}
.zorgers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 0px

}
.optie{
    background-color: #4eb972;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bb{
    align-content: center;
}
.full{
    width: auto;
}

#mySelect{
    padding:15px 150px;
}

.indexA {
    float: right;
}

/* parkpagina */
.parkImage{
    width: 70%;
}

.randomText{
    padding-left: 17px;
}

.parkText{
    margin: 15px;
    padding: 2px;
    display: flex;
    width: 70%;
    border: 3px solid black; /* Voeg hier de stijl 'solid' toe */
}